<div class="flexcenter">
  <div>
<%= @event.title %>
<br>
In <%= @event.neighborhood + ", " + @event.city + ", " + @event.state %>
<br>
<%= @event.start_date.strftime("%A, %B %e, %Y") %> to <%= @event.end_date.strftime("%A, %B %e, %Y") %><br>
<% @length = (@event.end_date - @event.start_date).to_i + 1 %>
<%= @length %> days long<br>
<% p @length %>
<% if @length >= 7 %>
  <% @days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %>
  <% @days.each do |d| %>
  <%= d %>
  <% end %>
  <% elsif @length < 7 && @length > 0 %>
  <% x = 0 %>
  <% @days = [] %>
  <% while x < @length %>
  <%= (@event.start_date + x.day).strftime("%A") %>
  <% @days << (@event.start_date + x.day).strftime("%A") %>
  <% x+= 1 %>
  <% end %>
  <% p @days %>
  <% elsif @length <= 0 %>
  Invalid date, end time must be after start time.
<% end %>

<p> <%= @event.description %></p>

<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=<%= @event.neighborhood + "%2C%20" + @event.city + "%2C%20" + @event.state %>&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div></div>

</div>
</div>
