<% @you_are_listed = false %>

  <div class="paginate digg_pagination" id="paginate"><%= will_paginate @listings, :previous_label => '←', :next_label => '→' %></div>
  <div class="location_scrollgrid">
    <div class="locationinfo" style="background-image: url('<%= @event.image.attachment.nil? ? 'https://loremflickr.com/320/240/building?lock=' + @event.id.to_s + '' :  rails_blob_url(@event.image) %>')">
      <div class="artistname">
        <%# link_to user_event_location_path() do %>
          <h3>
            <%# @event.name %>
            </h3>
            <%= @event.city %>
            <%# end %>
            </div>
          </div>
          <div>
            <div class="browselisting" id='browseart'>
              <% if @listings[0] != nil %>
                <% @listings[0].each do |l| %>
                  <% pr = Profile.find_by(id: l.profile_id) %>
                    <% if logged_in? %>
                      <% if pr == @current_user.profile %>
                        <% @you_are_listed = true %><% end %>
                      <% end %>
                      <div class="artist" id="artist<%=pr.id.to_s %>" style="background-image: url('<%= pr.image.attachment.nil? ? 'https://picsum.photos/200/300/?random/' + pr.id.to_s + '' :  rails_blob_url(pr.image) %>')" onclick="zoomIn('<%=pr.id.to_s %>')">
                        <% if logged_in? %>

                          <span class="bookmarkbutton artistpage">

                              <% if Bookmark.where(user_id: @current_user.id, profile_id: pr.id).exists? %>
                                <% bk = @current_user.bookmarks.find_by(profile_id: pr.id) %>

                                  <%= form_tag user_bookmark_delete_path(@current_user, bk), method: "delete", data: {confirm: "Delete bookmark?", remote: true} do %>
                                  <%= hidden_field :id, value: bk.id %>
                                  <button>
                                    <i class="material-icons" style="color:yellow;">
                                      bookmark
                                    </i>
                                  </button>
                                <% end %>
                    
                            <% else %>

                              <%= form_for([@current_user, @bookmark]) do |f| %>
                              <%= f.hidden_field :profile_id, value: pr.id %>
                              <button>
                                <i class="material-icons">
                                  bookmark
                                </i>
                              </button>
                            <% end %>

                          <% end %>
                          <span>

                          <% end %>
                        </div>
                        <div class="artistinfo">
                          <%= link_to user_path(pr.user) do %>
                          <h3><%= pr.name %></h3>
                        <% end %>
                        <%= l.location.address %><br>
                        <%= pr.primary_medium %>
                        <% if pr.secondary_medium != nil && pr.secondary_medium != "" %>
                          &
                          <%= pr.secondary_medium %></p>
                      <% end %>
                    </div>
                  <% end %>

                <% end %>
              </div>
            </div>
            <% if @listings[0] != nil %>
              <% @listings[0].each do |l| %>
                <% pr = Profile.find_by(id: l.profile_id) %>
                  <div class="littleinfobox hidden" id="info<%=pr.id.to_s %>">
                    <p>
                      <i class="fab fa-instagram"></i>
                      <a href="https://www.instagram.com/<%= pr.instagram %>/">@<%= pr.instagram %></a><br>
                      <i class="fas fa-folder-open"></i>
                      <a href="<%= pr.portfolio %>"><%= pr.portfolio %></a><br>
                      Media:
                      <%= pr.primary_medium %>
                      <% if pr.secondary_medium != nil && pr.secondary_medium != "" %>
                        and
                        <%= pr.secondary_medium %></p>
                    <% end %>
                  </div>
                <% end %>
                <% if @you_are_listed == false %>
                  <%# render 'listings/newlisting' %><% end %>
                <% end %>
