<div class="paginate digg_pagination" id="paginate"><%= will_paginate @events, :previous_label => 'â†', :next_label => 'â†’' %></div>
<div class="flexcenter">
  <div class="container eventsbox">
        <h2>
          <%= @title %></h2>

                <%= render 'events/eventblurb' %>
<% if !logged_in? %>Log in or create an account to see events in your area.<% end %>
                <%= render 'events/footer' %>
              </div>
            </div>

            <%= render 'layouts/state-svg-defs' %>
