<br>
<br>
<br>
<br>
<br>
<p>What this app needs to have:</p>
<p>
  <% if logged_in? %>
  <li><%= link_to "Log out", logout_path, method: :delete %></li>
  <% else %>
  <li><%= link_to "Log in", login_path %></li>
  <% end %>
</p>

<% if logged_in? %>
  <% if @current_user.primary_use = "Artist" %>
    <%= render 'layouts/artist' %>
    <% elsif @current_user.primary_use = "Visitor" %>
      <%= render 'layouts/visitor' %>
      <% elsif @current_user.primary_use = "Organizer" %>
        <%= render 'layouts/organizer' %>
      <% end %>
          <% end %>
