
<div class="paginate digg_pagination waypointsmap" id="paginate"><%= will_paginate @waypoints, :previous_label => '←', :next_label => '→' %></div>
<div id="map_canvas" style="height:50vh; width:100%; z-index: 25;"></div>

<div>
  <% @locations = [] %>
    <% @locations_with_id = [] %>
              <div class="allListings">
      <h2><small><%= @event.title %></small></h2>
      <% if logged_in? %>
        <% @waypoints = @waypoints.where(user_id: @current_user.id) %>
          <% if @waypoints != nil %>
          <ol type="A" class="waypointsol">
            <li><p>Your location</p></li>
            <% @waypoints.each do |w| %>



              <% @location = Location.find_by(id: w.location_id) %>

              <% if @location.listings.first != nil %>
                <% @profile = Profile.find_by(id: @location.listings.first.profile_id) %>
                <% end %>
                <% if @location.listings.second != nil %>
                  <% @profile2 = Profile.find_by(id: @location.listings.second.profile_id) %>
                  <% end %>


              <li>

                <% if @location.listings.count == 1 %>
                  <%= @profile.name %>
                  is
                  <% @artist = @profile.name %>
                    <% elsif @location.listings.count == 2 %>
                      <%= @profile.name %>
                      and
                      <%= @profile2.name %>
                      are
                      <% @artist = @profile.name + " & " + @profile2.name %>
                      <% else %>
                        <%= @location.listings.count %>
                        artists are
                        <% @artist = @location.listings.count.to_s + " artists" %><% end %>

                        showing at
                        <%= @location.name %>.<p>
                 <%= link_to @location.address, user_event_location_listings_path(@user, @event, @location) %></p></li>
                <% location = [] %>

                  <% object = { :location => @location.address, :stopover => true} %>
                    <% object2 = { :location => @location.address, :id => @location.address} %>
                      <% @locations << object %>
                        <% @locations_with_id << object2 %><% end %>
                      <% end %>
                    <% end %>
                            <li><p>Your location</p></li>
                  </ol>
                  </div>
                </div>
                    <% i = 1 %>
                      <% if @event.neighborhood != nil %>
                        <% @neigh = @event.neighborhood + ",+" %><% end %>
                        <% center_request = HTTParty.get("https://maps.googleapis.com/maps/api/geocode/json?address=" + @neigh +  @event.city + ",+" + @event.state + "&key=AIzaSyDJkEKxoYJlOJF2vWKpzp1rDfztV_BJ6_Y") %>
                          <%  center_response = JSON.parse(center_request.body) %>
                            <% clat = center_response['results'][0]['geometry']['location']['lat'] %>
                              <% clng = center_response['results'][0]['geometry']['location']['lng'] %>
                              <script>
                                var waypointsarray = <%= raw @locations.to_json %>;
                                var waypointswithid = <%= raw @locations_with_id.to_json %>;
                                var clat = <%= clat %>;
                                var clng = <%= clng %>;
                              </script>
                                <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDJkEKxoYJlOJF2vWKpzp1rDfztV_BJ6_Y"></script>



                                <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
