<div class="flexcenter">
<div class="newloc login">
  <h3>Edit Location</h3>

<%= form_for([@user, @event, @location]) do |f| %>
<%= f.text_field :name, placeholder: "Building Name" %><br>
<div class='logingrid'><div><label>What kind of place is it?</label></div><div><%= f.select :loc_type, options_for_select(location_types) %></div></div>
<%= f.text_area :description, placeholder: "Please describe your location." %><br>
<label>Please make sure the address is formatted correctly; it will be used to locate it on a map.</label>
<%= f.text_field :address, placeholder: "Full Address" %><br>
<%= f.text_field :suite, placeholder: "Suite/Studio Number" %><br>
<% if @event.private == true %>
<%= f.hidden_field :approved, value: false %>
<% else %>
<%= f.hidden_field :approved, value: true %>
<% end %>
  <h4>You will be able to add yourself to this location as an artist once it has been created.<br>Share a link to the location with other participating artists so they can add themselves.</h4>
<%= f.submit 'Edit Location', id:'submit' %>
<% end %>
<hr>
<span class="x delete">
<%= button_to user_event_location_delete_path(@user, @event, @location), id: @location.id, method: :delete, data: {confirm: "Are you sure? \n This action will permanently delete this location and remove all artists.", remote: true} do %>
Delete location
<% end %></span>
</div>
</div>
