<div class="browseart" id='browseart'>
  <% @user.bookmarks.each do |b| %>
  <% pr = Profile.find_by(id: b.profile_id) %>
    <div class="artist"  id="artist<%=pr.id.to_s %>" style="background-image: url('<%= pr.image.attachment.nil? ? 'https://picsum.photos/200/300/?random/' + pr.id.to_s + '' :  rails_blob_url(pr.image) %>')" onclick="zoomIn('<%=pr.id.to_s %>')">
    <div class="artistname">  <%= link_to user_path(pr.user) do %>
        <h3><%= pr.name %></h3>
        <% end %></div>
      <% if logged_in? %>

        <span class="bookmarkbutton">
          <% if Bookmark.where(user_id: @current_user.id, profile_id: pr.id).exists? %>
            <%# link_to user_bookmark_delete_path([@current_user, bk]), method: :delete do %>
              <i class="material-icons" style="color:black;">
                bookmark
              </i>
              <%# end %>
            <% end %>
            <span>

            <% end %>
          </div>


        <% end %>
      </div>
      <% @user.bookmarks.each do |b| %>
      <% pr = Profile.find_by(id: b.profile_id) %>
      <div class="littleinfobox hidden" id="info<%=pr.id.to_s %>">
<p>      <i class="fab fa-instagram"></i>
  <a href="https://www.instagram.com/<%= pr.instagram %>/">@<%= pr.instagram %></a><br>
  <i class="fas fa-folder-open"></i>
  <a href="<%= pr.portfolio %>"><%= pr.portfolio %></a><br>
  Media:
  <%= pr.primary_medium %>
  <% if pr.secondary_medium != nil && pr.secondary_medium != "" %>
    and
    <%= pr.secondary_medium %></p>
              <% end %>
      </div>
      <% end %>
