<% if logged_in? %>
<div class='footer'>
<div>    <%= link_to user_path(@current_user) do %><div class="dot smavatar" style="background-image: url('<%= @current_user.avatar.attachment.nil? ? 'https://loremflickr.com/100/100/headshot?lock=' + @current_user.id.to_s + '' :  rails_blob_url(@current_user.avatar) %>')">
</div>
<% end %>
</div>
<div><div class="dot">
    <%= link_to mymaps_path do %>
  <i class="material-icons">
map
</i>
<% end %>
</div></div>
<div><div class="dot">
  <%= link_to events_path do %>
  <i class="material-icons">
public
</i>
<% end %>
</div></div>
<div><div class="dot">
  <%= link_to user_bookmarks_path(@current_user) do %>
  <i class="material-icons">
bookmarks
</i>
<% end %>
</div></div>
<div><div class="dot">
  <%= link_to browse_path do %>
  <i class="material-icons">
palette
</i>
<% end %>
</div></div>
</div>
<% else %>
<div class='footer'>
  <div><div class="dot">
    <%= link_to events_path do %>
    <i class="material-icons">
  public
  </i>
  <% end %>
  </div></div><div><div class="dot">
    <%= link_to browse_path do %>
    <i class="material-icons">
  palette
  </i>
  <% end %>
  </div></div>

</div>

<% end %>
<footer>

</footer>
